<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    {{#if isAdmin}}
    <link rel="stylesheet" href="/css/admin.css">
    {{/if}}

</head>
<body>
    {{{body}}}
    
    {{#if scripts}}
        {{#each scripts}}
            <script src="/js/{{this}}.js"></script>
        {{/each}}
    {{/if}}
</body>
</html>